<p>
  <strong>Title:</strong>&nbsp;
  <%= @article.title %>&nbsp;
</p>
 
<p>
  <strong>Text:</strong>&nbsp;
  <%= @article.text %>&nbsp;
</p>

<h2>Comments</h2>
<%= render @article.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>